@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: #60A5FA;
    --dark-gray: #6b7280;
    --section-primary-color: #F3F4F6;
}

body {
    font-family: 'Poppins', sans-serif;
}

/**List**/
.nav-background .list-nonbullet {
    list-style: none;
    padding-inline-start: 0px;
    text-align: right;
    margin:auto;
}

.list-inline{
    display:inline;
    padding:0rem 0.5rem;
}

/**Navigation**/
.nav-background {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;    
    margin:auto;
    max-width:900px;    
}

.nav-brand{
    font-weight:bold;
}

/*Link*/
.link {
    text-decoration: none;
    padding: 0rem 0.5rem;
    color: white;
    margin:auto;
}

.nav-background .link-active{
    font-weight:bold;
}

/*Header*/
.hero{
    padding:2rem;
    padding-top:4rem;
    padding-bottom: 4rem;
}

    .hero .hero-image {
        max-width: 80%;
        margin: auto;
        width: 550px;
        display: block;
    }

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
    margin:auto;
}

    .hero .hero-heading .highlighter {
        color: var(--primary-color);
        text-align:center;
    }

    /*section*/
    /*technology*/
.section-technology{
    background-color:var(--section-primary-color);
    margin:auto;
    max-width:900px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: black;
    font-weight: bold;
    font-size: x-large;    
    padding: 1rem;
}

.section-technology .section-brand{
    text-align: center;
}

    .section-technology .nonbullet {
        list-style: none;
        padding: 0.5rem 0.5rem;
        margin: auto;
        font-weight: 200;
        font-size: medium;        
    }

    .section-technology .oneline {
        display: inline;
        text-align: justify;
        background: white;
        margin:auto;
    }

    .section-technology .tech{
        padding: 1rem;
        margin:auto;
        text-align:justify;
    }

/*footer*/
.footer-brand{
    font-size:medium;
    text-align:center;
}

.footer-background {
    background-color: var(--primary-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
    padding: 0.75rem 4rem;
    margin: auto;
    max-width:900px;
}

.footer-background .list {
    list-style: none;
    padding-inline-start: 0px;
    text-align: center;
}

.footer-background .link-active {
    font-weight: bold;
}

.footer-icon{
    width : 2rem;
}