:root {
    --primary-color: #34D399;
}
/**List**/
.list-nonbullet{
    list-style:none;
}

.list-inline{
    display:inline;
    padding:0rem 2rem;
}

nav-background{
    background-color:var(--primary-color);
}