:root {
    --primary-color: #A7F3D0;
}
/**List**/
.list-nonbullet{
    list-style:none;
}

.list-inline{
    display:inline;
    padding:1rem 2rem;
}

.nav-background{
    background-color:var(--primary-color);
}